*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

build/*
.vscode/*

# figures
viz/figs/*
!viz/figs/.gitkeep
plots/DATA/*
plots/output/*
!plots/output/.gitkeep
plots/output_*/
__pycache__/
# NSIGHT
NSight/*
!NSight/command.md


# Benchmarking
benchmarking/*
!benchmarking/bench.m
!benchmarking/benchmarking.py